<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile=".\internal_logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName=".\logs\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>


<!--ce fichier nlog.config permet de definir les paramètres de journalisation des logs-->
<!--l'emplacement des fichiers journeaux, le nom de ces fichiers et le niveau minimum de journalisation souhaité-->

<!--on a la possibilité d'avoir plus de contrôle en:
créant un fichier nlog.development.config et un autre appéler nlog.production.config.
Ensuite, dans le code, on peut faire : env.ConfigureNLog($"nlog.{env.EnvironmentName}.config"); pour obtenir les différents fichiers de configuration pour différents environnements-->
